<div class="callout callout-warning callout-no-action">
  <h3>What do I do about my <% if @warrants.count > 1 %>warrants?<% else %>warrant?<% end %></h3>
  You have <%= pluralize @warrants.count, "warrant" %>.
  This means that the police have been instructed to arrest and hold you in jail until you can appear in court.
  The court might be willing to schedule a hearing or mitigate the jail time.
  <div class="buttons-float">
    <%= link_to "Find an attorney", "/help/attorneys", class: "btn btn-lg btn-danger", target: "_blank" %>
  </div>
  Your best option would be to contact and consult an attorney.<br/>
  <span class="btw">(They are not obligated to turn you in if you tell them you have a warrant.)</span>
</div>
