<div class="wrapper">
  <h1>Approved Community Service Organizations</h1>

  <div class="service-organizations">
    <div class="service-organization">
      <h3>YMCA Carondelet    (NO CHILD ABUSE OR THEFT OFFENSES)</h3>
      600 Loughborough<br />
      St. Louis, MO 63111<br />
      Bob Jackson<br />
      314-678-0162     Mon. – Fri.  8am – 8pm<br />
    </div>

    <div class="service-organization">
      <h3>YMCA Jefferson County</h3>
      1303 YMCA Drive<br />
      Festus, MO 63028<br />
      Nathan Cain   636-931-9622<br />
    </div>

    <div class="service-organization">
      <h3>YMCA Edward Jones Family</h3>
      12521 Marine Ave.<br />
      St. Louis, MO 63146<br />
      Dane Slayton   314-439-9622<br />
    </div>

    <div class="service-organization">
      <h3>YMCA South County   (NO ASSUALT or STEALING CHARGES) </h3>
      12736 South Fork (NO SEX OFFENSES OFFENERS)<br />
      St. Louis, MO 63139<br />
      Tracy Eisenhoffer<br />
      314-849-9622 (Mostly daytime hours Mon-Fri)<br />
    </div>

    <div class="service-organization">
      <h3>YMCA South City</h3>
      3150 Sublette<br />
      St. Louis, MO 63139<br />
      Charles Fisher   314-644-3100<br />
    </div>

    <div class="service-organization">
      <h3>YMCA Southwest Illinois</h3>
      15 North First<br />
      Belleville, IL<br />
      Mary Rios   618-233-1243<br />
    </div>

    <div class="service-organization">
      <h3>YMCA O’Fallon</h3>
      3451 Pheasant Meadows Dr.<br />
      O’Fallon, MO 63366<br />
      Gary Cooper   636-379-0092<br />
    </div>

    <div class="service-organization">
      <h3>YMCA St. Charles</h3>
      3900 Ehlmann Rd.<br />
      St. Peters, MO 63376<br />
      Diane Rothmeyer   636-922-9321<br />
    </div>

    <div class="service-organization">
      <h3>YMCA Webster Groves   (Only Drug/Alcohol Offense)</h3>
      226 East Lockwood<br />
      St. Louis, MO 63119<br />
      Janet Schwenk   314-962-9622<br />
    </div>

    <div class="service-organization">
      <h3>YMCA Kirkwood    (Ran by Webster Groves Facility)</h3>
      325 North Taylor Ave.<br />
      St. Louis, MO 63122<br />
      Janet Schwenk   314-962-9622<br />
    </div>

    <div class="service-organization">
      <h3>YMCA West County</h3>
      16464 Burkhardt Place  P.O Box 4038<br />
      Chesterfield, MO 63006<br />
      Kim Jarvis   636-532-3100<br />
    </div>

    <div class="service-organization">
      <h3>YMCA Wildwood</h3>
      2641 Highway 109  P.O Box 407<br />
      Wildwood, MO 63040<br />
      Jim Mersael or Chris Kumlin   636-458-6636<br />
    </div>

    <div class="service-organization">
      <h3>GENERAL LISTING</h3>
    </div>

    <div class="service-organization">
      <h3>Altenheim Assisted Living (NO FELONIES)</h3>
      5408 South Broadway<br />
      St. Louis, MO 63111<br />
      Ruth Jennings 314-353-7225   7 days/ week 7am – 6pm<br />
    <흔ŝ>               CRIMINAL BACKGROUND CHECK REQUIRED<br />
    </div>

    <div class="service-organization">
      <h3>Delmar Gardens South (NO DRUG OR STEALING OFFENSES)</h3>
      5300 Butler Hill Rd.<br />
      St. Louis, MO 63128<br />
      Becky 314-842-0588<br />
    </div>

    <div class="service-organization">
      <h3>Division Cavalry Brigade</h3>
      12006 Larimore Rd.  (Outdoor yard work/ Helping with horses)<br />
      St. Louis, MO 63138  (Mostly Weekends)<br />
      Terry Crowder   314-388-0588<br />
    </div>

    <div class="service-organization">
      <h3>Food Outreach</h3>
      3117 Olive St.<br />
      St. Louis, MO 63103 (Call to Schedule)<br />
      Kathy Spencer   314-652-3663 ext. 111<br />
    </div>

    <div class="service-organization">
      <h3>Habitat for Humanity Restore (Non Violent Offenses Only)</h3>
      3763 Forest Park<br />
      St. Louis, MO 63108<br />
      Jeremy Iddleman<br />
      314-371-0440 ext 26 or 21      Tues – Sat  9am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>Jefferson Barracks Football Club (Seasonal August – November)</h3>
      94 Worth Dr.<br />
      St. Louis, MO 63125<br />
      Teri Ehret 314-313-0039<br />
    </div>

    <div class="service-organization">
      <h3>Lemay Baseball  (Seasonal March – October)</h3>
      153 Lemay Ferry Rd.<br />
      St. Louis, MO 63125<br />
      Jim Gummerbach   314-638-5371<br />
    </div>

    <div class="service-organization">
      <h3>Leukemia Society   (TRAFFIC OFFENSES ONLY)</h3>
      Innerbelt Business Center Drive<br />
      St. Louis, MO 63114          Mon. – Fri.     9am – 5pm<br />
      Jacquelyn Simmons  314-590-2244<br />
    </div>

    <div class="service-organization">
      <h3>Lion’s Club Webster Groves (NO VIOLENT OFFENSES)</h3>
      P.O. Box 190520<br />
      St. Louis, MO 63119   ( March –October)<br />
      Pat Rabbitt<br />
      314-805-9957 ( Fri. – Sat. 2nd weekend of each Month)<br />
    </div>

    <div class="service-organization">
      <h3>Mastodon State Park</h3>
      1050 Museum Dr.<br />
      Imperial, MO 63052<br />
      Roy Hill   636-464-2976      Mon. – Fri.     8am – 4pm (Background check required)<br />
    </div>

    <div class="service-organization">
      <h3>Mehlville-Oakville Alumni Association</h3>
      PO Box 6593<br />
      St. Louis, MO 63125<br />
      Susie Duggan 314-450-1481<br />
    </div>

    <div class="service-organization">
      <h3>Our Lady of Perpetual Help</h3>
      4335 Warne Ave.<br />
      St. Louis, MO 63107<br />
      Beatrice Hudson   314-535-9794    Tues. – Fri.     9am – 12pm<br />
    </div>

    <div class="service-organization">
      <h3>Peace Lutheran Church</h3>
      737 Barracksview Rd.<br />
      St. Louis, MO 63125                     (Outside work)<br />
      Richard Benke   314-398-1288      Mon. – Fri.     8am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>Powder Valley Nature Center (NON VIOLENT OFFENDERS ONLY)</h3>
      11715 Cragwold<br />
      Kirkwood, MO 63122  (Custodial/General Maintenance)<br />
      Ronald Robinson<br />
      314-301-1506 ext. 2245 (Monday-Saturday 8am – 5pm)<br />
    </div>

    <div class="service-organization">
      <h3>Salvation Army Store – Belleville</h3>
      218 North Illinois<br />
      Belleville, IL 62221<br />
      618-233-7617<br />
    </div>

    <div class="service-organization">
      <h3>Salvation Army – Disaster Services</h3>
      3136 Morganford rd.<br />
      St. Louis, MO 63116   (Custodial, Lawn, Clerical work)<br />
      Sheila Davis    314-646-3000   Mon. – Fri.  9am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>St. Ann Community Center</h3>
      1 Community Center Dr.<br />
      St. Ann, MO 63074    (7 days/ week, No evening hours)<br />
      Matt Dubarr    314-429-4545  (no stealing charges or crimes against children)<br />
    </div>

    <div class="service-organization">
      <h3>Five Acres Animal Shelter</h3>
      1099 Pralle Ln.<br />
      St. Charles, MO 63303<br />
      Brittney Ledbetter   636-949-9918        (Weekends Available)<br />
    </div>

    <div class="service-organization">
      <h3>St. Joe Sate Park</h3>
      2800 Pimville Rd.<br />
      Park Hills, MO 63601        (Must Complete a Background Check)<br />
      Bill Bonnell   573-431-4968   Mon. – Fri.  7am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>St. Vincent DePaul Society</h3>
      100 N. Jefferson Ave.<br />
      St. Louis, MO 63103<br />
      Molly Kertz  314-881-6032<br />
    </div>

    <div class="service-organization">
      <h3>Sherbrook Village</h3>
      4005 Ripa<br />
      St. Louis, MO<br />
      Rev. Roger Schomburgh<br />
      314-544-1111           7 days/ week 8am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>Web Innovation & Technology Services</h3>
      647 East Holly          (Office Work)<br />
      St. Louis, MO 63147<br />
      Debbie Pruden<br />
      314-382-1650<br />
    </div>

    <div class="service-organization">
      <h3>Solid Rock Ministries</h3>
      899 Gravois Rd.<br />
      Fenton, MO 63026<br />
      Darin Manning<br />
      636-343-3800<br />
    </div>

    <div class="service-organization">
      <h3>Webster Groves Parks and Recreation</h3>
      33 East Glendale<br />
      St. Louis, MO 63119<br />
      Charlie Brown   314-963-5621   7 days/ week 8am – 10pm<br />
    </div>

    <div class="service-organization">
      <h3>Atonement Lutheran Church (NO DRUGS OF CHILD ABUSE)</h3>
      1285 North New Florissant Rd.<br />
      Florissant, MO 63031<br />
      Mike Kubiak   314-837-1224         Mon. – Fri.     9am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>Better Family Life Inc.</h3>
      724 North Union Blvd.  (Clerical, general clean up)<br />
      St. Louis, MO 63108<br />
      314-381-8200                 Mon. – Fri.   8:30am – 1:00pm<br />
    </div>

    <div class="service-organization">
      <h3>Black World History Wax Museum</h3>
      2505 St. Louis Ave.<br />
      St. Louis, MO 63100          (Maintenance, yard worK)<br />
      Erika Neal   314-241-7057 (Wed. – Sat.   10am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>City of Berkeley                </h3>
      6140 North Hanley                         (Clerical, Street Dept.)<br />
      Berkeley, MO 63134<br />
      Rochelle Thomas   314-264-2113   Mon. – Fri.  8am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>City of Crestwood               (NO SEX OF THEFT OFFENSES)</h3>
      9245 White Cliff Park Rd.  (General labor)<br />
      Crestwood, MO 63126<br />
      Wendell Hill   314-729-4730   Mon. – Fri.  7:30am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>City of Kirkwood     (NO CHILD RELATED OR VIOLENT OFFENSES)</h3>
      139 South Kirkwood Rd.<br />
      Kirkwood, MO 63122               (General Labor)<br />
      Priscilla Utley   314-822-5809  Mon. – Fri.  8am – 7pm<br />
    </div>

    <div class="service-organization">
      <h3>City of Northwoods</h3>
      4600 Oakridge<br />
      Northwoods, MO 63121                 (General Labor)<br />
      Mr. W.C. Farr   314-385-1823       Mon. – Fri. 7:30 am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>City of University City</h3>
      6801 Delmar Blvd.<br />
      University City, MO 63130   (General Labor)<br />
      John Howze   314-505-8587   Mon. – Fri.  7am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>City of Webster Groves Rec Complex</h3>
      33 East Glendale                    (NO SEXUAL, OR THEFT OFFENSES)<br />
      Webster Groves, MO 63119    (General Labor/ Office work)<br />
      Debbie Deimeke<br />
      314-963- 5621  7 days/ week   6:30am – 3pm<br />
    </div>

    <div class="service-organization">
      <h3>Dept of VA Medical Center</h3>
      #1 Jefferson Barracks Dr. (NO FELONIES, VIOLENT)<br />
      St. Louis, MO 63125<br />
      314-289-6393<br />
    </div>

    <div class="service-organization">
      <h3>Feed My People – High Ridge</h3>
      3295 Ottomeyer Rd.<br />
      High Ridge, MO 63049      (Work in food pantry/thrift store)<br />
      Ann Mantler<br />
      636-677-9885   Tues. – Fri.  8am – 2:30pm  Sat. 8am - 1pm<br />
    </div>

    <div class="service-organization">
      <h3>Feed My People – Lemay  (NON SMOKING, MUST STAY ACTIVE)</h3>
      171 Kingston Dr.           (Work in food pantry/thrift store)<br />
      St. Louis, MO 63125              Mon. – Fri. 8:30am – 3pm<br />
      Ted West   314-631-4900       Sat. 8:30am – 1pm<br />
    </div>

    <div class="service-organization">
      <h3>Hazelwood Civic Center (HAZELWOOD RESIDENTS ONLY)</h3>
      8969 Dunn Rd.<br />
      Hazelwood, MO 63042<br />
      Dave Thomason<br />
      314-839-5575<br />
    </div>

    <div class="service-organization">
      <h3>Jay Henges Shooting Reserve & Outdoor Education Center</h3>
      1100 Antire Rd.<br />
      Valley Park, MO 63049<br />
      Curt Otterstein<br />
      636-938-9548<br />
    </div>

    <div class="service-organization">
      <h3>Jewish Community Center</h3>
      #2 Millstone Campus Dr.<br />
      Creve Coeur, MO 63146     (Maintenance/ Janitorial)<br />
      Cindi Wichmann<br />
      314-432-5700        7 days/ week – Call for work shifts<br />
    </div>

    <div class="service-organization">
      <h3>Kingdom House             (NO CHILD RELATED OFFENSES)</h3>
      1321 South 11th Street<br />
      St. Louis, MO 63104<br />
      Dan Richter<br />
      314-627-1233<br />
    </div>

    <div class="service-organization">
      <h3>Life Christian Center</h3>
      13001 Gravois         (CRIMINAL BACKGROUND CHECK REQUIRED)<br />
      Fenton, MO 63026  (Maintenance Work)<br />
      Dave Ellison   314-843-5575  Mon. – Fri.  8:30am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>Mathews Dickey Boys & Girls Club</h3>
      4245 North Kingshighway<br />
      St. Louis, MO 63115             (Maintenance)<br />
      Joyce Jones   314-382-5952   Mon. – Fri.             7am – 6pm<br />
    </div>

    <div class="service-organization">
      <h3>Meramec Valley Baptist Church</h3>
      401 Vest<br />
      Valley Park, MO 63088     (General Labor)<br />
      Pastor Jim Strubbe   636-225-5661<br />
    </div>

    <div class="service-organization">
      <h3>Midtown Catholic Community Services   </h3>
      1202 South Boyle Ave   (NONVIOLENT OR DRUG CHARGES)<br />
      St. Louis, MO 63110     (Light custodial/ Office aid)<br />
      John Paschak   314-534-1180         Mon. – Fri.     9am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>Mount Zion Missionary Baptist Church    (NO FELONIES)</h3>
      1444 South Compton<br />
      St. Louis, MO 63104          (Clerical, custodial, lawn care)<br />
      Rev. Carolyn Coleman<br />
      314-776-3888                       Mon. – Fri. 10am – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>Open Door Animal Sanctuary        (NO ANIMAL OFFENSES)</h3>
      6065 Duba Rd.<br />
      House Springs, MO 63051             (Cleaning/bathing animals)<br />
      Jessica Greaves   636-671-5439           (Min of 4 hour Shift)<br />
    </div>

    <div class="service-organization">
      <h3>Queeny Park Equestrian Events</h3>
      15057 Manchester Rd.<br />
      Ballwin, MO 63011<br />
      John Bopp   636-391-9100<br />
    </div>

    <div class="service-organization">
      <h3>Salvation Army – Lemay    (NO DRUG CHARGES)</h3>
      3601 Weber Rd.      (CRIMINAL BACKGROUND CHECK)<br />
      St. Louis, MO 63125<br />
      Emma 314-631-1133  Mon. – Fri.  8:30am – 3pm<br />
    </div>

    <div class="service-organization">
      <h3>Salvation Army Correctional Services Branch</h3>
      1130 Hampton Ave. (NO SEXUAL, STEALING,ARSON)<br />
      St. Louis, MO 63139  (Clerical, food pantry, some maintenance)<br />
      Sheila Davis   314-646-3000    Mon. – Fri.  8:30am – 4:30pm<br />
    </div>

    <div class="service-organization">
      <h3>Salvation Army Harbor Light (NO DRUG OFFENSES)</h3>
      3010 Washington<br />
      St. Louis, MO 63103          (Food prep, maintenance, clerical)<br />
      Harriet Gaskin   314-286-3224 or 652-3310          7 days/ week<br />
    </div>

    <div class="service-organization">
      <h3>Salvation Army Temple (NO CHILDREN OFFENSES)</h3>
      2740 Arsenal St.<br />
      St. Louis, MO 63118             (Maintenance)<br />
      Lisa Marler   314-771-3460   Mon. – Fri.  8am – 5pm<br />
    </div>

    <div class="service-organization">
      <h3>St. Louis Adventist Community Services</h3>
      3223 Woodson Rd.<br />
      St. Louis, MO 63110 (Stocking,wood pick up, light cleaning)<br />
      314-429-0216                       Mon. – Thurs.<br />
    </div>

    <div class="service-organization">
      <h3>True Light Missionary Baptist Church</h3>
      2838 James Cool Papa Bell<br />
      St. Louis, MO 63106                      (Custodial work)<br />
      Edward Sims or Gary Hester         Mon. Wed. or Fri.<br />
      314-531-1801 or 314-383-0047<br />
    </div>

    <div class="service-organization">
      <h3>Webster Groves Christian Church</h3>
      1320 West Lockwood<br />
      Webster Groves, MO 63119          (General Cleaning)<br />
      Jeff Moore   314-961-3232      Mon. – Fri.   1:30pm – 4:30pm<br />
    </div>

    <div class="service-organization">
      <h3>United House of Prayer for All people</h3>
      3300 North Kingshighway Blvd.<br />
      St. Louis, MO 63115          (Food servers and cleanup)<br />
      Pat Sivels   314-385-2899   (Sundays 1:30pm – 5:30pm)<br />
    </div>

    <div class="service-organization">
      <h3>Delmar Garden West(NO VIOLENTOFFENSES)</h3>
      13530 South Outer Rd.<br />
      Chesterfield,MO63017<br />
      Maria Blanchette 314-878-1330ext. 620<br />
    </div>

    <div class="service-organization">
      <h3>St. Johns Evangelical UCC</h3>
      11333 St. Johns Church Road 63123<br />
      Contact:  Bob Bailey 314-409-8796<br />
    </div>

    <div class="service-organization">
      <h3>Stray Rescue of St. Louis</h3>
      2320 Pine Street<br />
      St. Louis, MO 63101<br />
      Tom Cole, Volunteer Program Manager<br />
      314-771-6121 Ext. 261<br />
    </div>

    <div class="service-organization">
      <h3>St. Patrick Center</h3>
      800 N. Tucker<br />
      Sam Jones (314) 621-3200<br />
      SAINT LOUIS COUNTY PARKS<br />
      (SEASONAL MARCH-NOVEMBER)<br />
    </div>

    <div class="service-organization">
      <h3>Jefferson Barracks Park</h3>
      533 Grant Rd.<br />
      St. Louis, MO 63125<br />
      Mike Kladky   314-544-5714   Wed. – Sun.  12pm – 4pm<br />
    </div>

    <div class="service-organization">
      <h3>Buder & Simpson Park</h3>
      I-44 and Highway 141<br />
      Valley Park/ Fenton<br />
      Rick Taylor   636-225-5320   Mon. – Fri. 6:30am – 3pm<br />
    </div>

    <div class="service-organization">
      <h3>Queeny Park</h3>
      1675 South Main Rd.<br />
      St. Louis, MO 63131<br />
      Mike Luedde   314-822-1423   Mon. – Fri.   6:30am-3pm<br />
    </div>

    <div class="service-organization">
      <h3>Bella Fontaine Park</h3>
      9565 Bellefontaine Rd.<br />
      St. Louis, MO 63137<br />
      Cecil Smith   314-867-8380   Mon. – Fri. 6:30am – 3pm<br />
    </div>

    <div class="service-organization">
      <h3>St. Vincent’s Children’s Home  (DWI OFFENSES ONLY)</h3>
      741 Florissant Rd.            (MUST BE OVER 21 YEARS OF AGE)<br />
      Normandy, MO 63121  (General labor, office work)<br />
      Jessica Faltus   314-261-6011<br />
    </div>

    <div class="service-organization">
      <h3>Bellefontaine Cemetery</h3>
      4947 W. Florissant Rd.<br />
      St. Louis, MO 63110<br />
      Dan Fuller  (314) 402-3606<br />
    </div>

    <div class="service-organization">
      <h3>Tandy Recreation Center</h3>
      4206 West Kennerly Ave.<br />
      St. Louis, MO 63113<br />
      Ricardo Riley   314-652-5131<br />
    </div>

    <div class="service-organization">
      <h3>Faith Lutheran Thrift Store</h3>
      3000 Lucas & Hunt Rd.<br />
      St. Louis, MO 63121<br />
      Anita Hayes  314-385-1426<br />
    </div>

    <div class="service-organization">
      <h3>Fountain Park Association</h3>
      848 N. Kingshighway<br />
      St. Louis, MO 63108<br />
      Jolanda Petty  314-454-9881<br />
      Connie Harris  314-454-9305<br />
      Days/Weekends  outside work<br />
    </div>

    <div class="service-organization">
      <h3>Santa's Helpers</h3>
      7832 Balson<br />
      University City, MO 63130<br />
      Rita Swiener  314-727-0186<br />
      Weekend hours<br />
    </div>

    <div class="service-organization">
      <h3>VFW Post 4105</h3>
      410 Rue St. Francois<br />
      Florissant, MO 63031<br />
      Tony Laprocina  314-831-6121 or 314-412-3049<br />
    </div>

    <div class="service-organization">
      <h3>100 Black Men of Metropolitan St. Louis</h3>
      4631 Delmar<br />
      St. Louis, MO 63108<br />
      Brandi Jones  314-367-7778<br />
      NON-VIOLENT OFFENDERS ONLY<br />
    </div>

    <div class="service-organization">
      <h3>St. Louis County Animal Shelter</h3>
      10521 Baur Blvd.<br />
      Olivette, MO 63132<br />
      (314) 615-0672 ph.       fax (314) 615-0651<br />
      Contact:  Julie Jordan<br />
      ***Must fill out application, which is available in Probation Office.***<br />
    </div>

    <div class="service-organization">
      <h3>The Stones</h3>
      2816 Chippewa<br />
      St. Louis, MO 63118<br />
      Nate McDaniel (678) 753-6283<br />
    </div>

    <div class="service-organization">
      <h3>Red Racks Thrift Store</h3>
      15425 Manchester Rd. Suite 20<br />
      Ballwin, MO<br />
      (636) 779-5688<br />
    </div>

    <div class="service-organization">
      <h3>Harvey Kornblum Jewish Food Pantry</h3>
      10601 Bauer Rd.<br />
      Creve Coeur, MO 63132<br />
      Ann Lehrke  (314) 993-1000<br />
    </div>

    <div class="service-organization">
      <h3>Helping Police Financially Achieve Canine Support</h3>
      220 Gravois Rd.<br />
      Fenton, MO 63026<br />
      Contact:  Jeff Page 636-638-5423 or 314-484-8114<br />
    </div>

    <div class="service-organization">
      <h3>St. John Community Improvement Corporation</h3>
      1908 N. Kingshighway<br />
      St. Louis, MO 63113<br />
      Contact:  Sandra Jones  (314) 361-6487<br />
    </div>

    <div class="service-organization">
      <h3>Nuisance  Problem Property Unit-North Patrol </h3>
      4104 Union Blvd.<br />
      St. Louis, MO 63115<br />
      EVERY SATURDAY<br />
      Sign in by 8am.  To 1pm.<br />
      No need to call.  Just show up.<br />
    </div>

    <div class="service-organization">
      <h3>Guardian Angel Settlement (Angel Boutique thrift store)</h3>
      2700 Cherokee St<br />
      St. Louis, MO<br />
    </div>

    <div class="service-organization">
      <h3>Canterbury Enterprises, Inc.</h3>
      7228 Weil Ave<br />
      St. Louis, MO 63119<br />
      Charles Fischer  (314) 781-3999<br />
    </div>

    <div class="service-organization">
      <h3>One St. Louis</h3>
      1920 South 7th St.<br />
      St. Louis, MO 63104<br />
      (314) 241-1114 or (415) 630-3418<br />
      Deborah Sheperis<br />
      www.onesaintlouis.org<br />
    </div>

    <div class="service-organization">
      <h3>Blessing Basket Project</h3>
      5234 Oakland Ave<br />
      St. Louis, MO 63110<br />
      Contact:  Mary Hubbard (888) 618-1503<br />
      Mon-Fri 8am-5pm<br />
    </div>
  </div>
</div>
