<div class="wrapper">
  <h1>Find an Attorney</h1>

  <div class="attorney-info">
    <img src="/images/lsem-logo.png" alt="" class="img-rounded attorney-img">
    <h3>Legal Services of Eastern Missouri </h3>

    <p>
      Legal Services of Eastern Missouri is an independent, non-profit organization that provides high quality civil legal assistance and equal access to justice for low-income people and the elderly in eastern Missouri.
    </p>


    <div class="container-fluid">
      <div class="col-sm-6">
        <label>Phone</label>
        (314) 534-4200
      </div>
      <div class="col-sm-6">
        <label>Website</label>
        <a href="http://www.lsem.org/">http://www.lsem.org/</a>
      </div>
    </div>
  </div>

  <div class="attorney-info">
    <img src="/images/acd.png" alt="" class="img-rounded attorney-img">
    <h3>Arch City Defenders </h3>
    <div class="clearfix"></div>
    <p>
      ArchCity Defenders provides holistic legal services to individuals in order to remove barriers to social services. Their services are available to individuals who qualify under existing funding sources, or through our minimum qualifications matrix that accounts for various factors including income, access to alternative legal representation, and the type of representation sought.
    </p>
    <div class="container-fluid">
      <div class="col-sm-6">
        <label>Phone</label>
        (314) 361-8834
      </div>
      <div class="col-sm-6">
        <label>Website</label>
        <a href="http://www.archcitydefenders.org/">http://www.archcitydefenders.org/</a>
      </div>
    </div>
  </div>
</div>
