<h1>Welcome to MuniciPal!</h1>
<div id="map"></div>
<div class="container">
  <div class="container col-sm-6">
    <div class="callout">
      <h3>Lookup Your ....</h3>
      <p> an instruction </p>
      <form action="/walkthrough/search" accept-charset="UTF-8" method="post" class="input-group form-group  form-group-lg">
        <input name="utf8" type="hidden" value="✓">
        <input type="text" name="q" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button id="walkthrough-search-submit" class="btn btn-lg btn-primary" type="submit">Go!</button>
        </span>
      </form>
    </div>
  </div>
  <div class="container col-sm-6">
    <div class="callout">
      <h3>Text <em>hello</em> to...</h3>
      <h2 class="phone-number">1 330 680 6866</h2>
      <p>and something awesome will happen</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    MunicipalMap.render();
  });
</script>
