.citations-count {
  margin-top: 3em;
}

.citations {
  padding: 0;
  margin: 0 0 2em;

  .citation {
    display: block;
    margin: 1em auto;

    .citatation-summary {
      float: left;
      padding-left: 3.66em;
      position: relative;
    }

    .citation-date {
      position: absolute;
      top: 0.66em;
      left: 0;
      width: 2.33em;
      text-align: center;
      top: 50%;
      margin-top: -1.33em;
    }

    .citation-number {
      font-size: 1.33em;
      font-weight: 700;
    }

    .citation-court {
      float: right;
      text-align: right;

      .court-municipality, .court-date {
        display: inline-block;
        background: rgba(0, 0, 0, 0.08);
        padding: 0.66em 1.66em;
      }

      .court-municipality {
        border-top-left-radius: 0.33em;
        border-bottom-left-radius: 0.33em;
        position: relative;
        left: 1px;
      }

      .court-date {
        border-top-right-radius: 0.33em;
        border-bottom-right-radius: 0.33em;
      }
      
      .court-municipality::before {
        content: "Court";
        display: block;
        font-size: 0.66em;
        font-weight: 900;
      }
      .court-date::before {
        content: "Court Date";
        display: block;
        font-size: 0.66em;
        font-weight: 900;
      }
    }
  }

  .citation > a {
    display: block;
    color: inherit;
    padding: 1em 1.33em;
    border-radius: 0.5em;
    text-decoration: none !important;
    overflow: hidden;

    &:hover {
      background: #e6f1fb;
    }
  }
}



.citation-violations {
  font-size: 0.88em;
  margin: 0;
  padding: 0;
}

.citation-violation {
  display: block;
  padding: 0 5px;
}

.violation-fees {
  float: right;
}



.date {
  .date-month {
    display: block;
    line-height: 0.88;
  }
  .date-day {
    display: block;
    font-size: 2em;
    line-height: 0.96;
  }
}

.fa-gavel {
  padding: 2px 4px;
}



section {
  clear: both;
  margin: 5em 0;
  position: relative;
  padding-left: 5em;

  .date {
    float: left;
    width: 3.33em;
    height: 3.33em;
    text-align: center;
    padding: 0.33em;
    background-color: #efefef;
    border-radius: 0.33em;
    margin-left: 1em;
    position: absolute;
    left: 0;
  }

  .citation-violations {
    padding-right: 5px;
    margin-bottom: 2em;
  }

  h2 {
    font-weight: 300;
    font-size: 1.66em;
    margin: 0;
    padding: 0.33em 0;

    // optional border
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 0.5em;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 2em;
  }
}

#street_view {
  height: 300px;
  width: 100%;
}



.callout {
  border-radius: 0.5em;
  position: relative;
  margin: 0 5px 1em;
  padding: 1em 18em 1em 1em;

  &.callout-no-action {
    padding-right: 1em !important;
  }

  h3 {
    margin-top: 0;
    white-space: nowrap;
  }

  .buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .buttons-float {
    float: right;
    margin: 1em 0 0 0.5em;
  }

  .form-group {
    margin-bottom: 0;
  }
}

.callout.callout-primary {
  background: #e6f1fb;
  padding-right: 12em; // these happen to have smaller buttons

  h3 { color: #365773; }
}

.callout.callout-warning {
  background: #ffdad9;
  padding-right: 12em; // these happen to have smaller buttons

  h3 { color: #d9534f; }
}

.callout.callout-disabled {
  background: #eee;

  h3 { color: #555; }

  .btn { pointer-events: none !important; }
}

.callout.callout-sunny {
  background: #fff3e1;

  h3 { color: #bf7b1a; }
}
