.citations {
  margin: 3.33em;
  padding: 0;

  .citation {
    display: block;
    margin: 1em auto;
    max-width: 42em;

    .citatation-summary {
      float: left;
    }

    .citation-number {
      font-size: 1.33em;
    }

    .citation-violations {
      font-size: 0.88em;
      margin: 0;
      padding: 0;
    }

    .citation-violation {
      display: block;
    }

    .citation-court {
      float: right;
      text-align: right;

      .court-municipality, .court-date {
        display: inline-block;
        background: rgba(0, 0, 0, 0.08);
        padding: 0.66em 1.66em;
      }

      .court-municipality {
        border-top-left-radius: 0.33em;
        border-bottom-left-radius: 0.33em;
        position: relative;
        left: 1px;
      }

      .court-date {
        border-top-right-radius: 0.33em;
        border-bottom-right-radius: 0.33em;
      }
      
      .court-municipality::before {
        content: "Court";
        display: block;
        font-size: 0.66em;
        font-weight: 900;
      }
      .court-date::before {
        content: "Court Date";
        display: block;
        font-size: 0.66em;
        font-weight: 900;
      }
    }
  }

  .citation > a {
    display: block;
    color: inherit;
    padding: 1em 1.33em;
//    border: 1px solid #eee;
//    border-radius: 0.5em;
    text-decoration: none !important;
    overflow: hidden;

    &:hover {
      background: #bbb;
    }
  }
}
